@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root {
    --primaryAccsent: #005480;
    --secondaryColor: #70E000;
    --tertiaryColor: #FCF8F3;
    --quaternaryColor: #F77F00;
    --blackColor: #222222;
    --whiteColor: #F5F5F5;
    --whiteColorMotor: #B3B1B1;
}

html {
    font-size: 10px;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--whiteColor);
    height: auto;
}

a {
    text-decoration: none !important;
}

/* navbar */

nav.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--tertiaryColor);
    padding: 16px 40px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(129, 129, 129, 0.25);
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 64px;
}

nav ul a {
    font-size: 1.6rem;
    color: var(--blackColor);
}

.menu-icon {
    display: none;
}

@media only screen and (max-width: 900px) {
    nav.navbar {
        flex-wrap: wrap;
        overflow: hidden;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        opacity: 1
    }

    div.navbar-logo {
        width: fit-content;
    }

    nav ul.hidden {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.4s ease;
    }

    nav ul.appear {
        max-height: 500px;
        opacity: 1;
        transition: all 0.4s ease;
    }

    .menu-icon {
        display: flex;
        align-items: center;
        width: fit-content;
    }

    .menu-icon-x {
        display: flex;
        align-items: center;
        width: fit-content;
        transition: all 0.4s ease;
        rotate: 90deg;
    }

    .menu-icon-hamburg {
        display: flex;
        align-items: center;
        width: fit-content;
        transition: all 0.4s ease;
        rotate: 0deg;
    }

    .navbar-button-hamburg {
        display: none;
    }
}

@media only screen and (max-width: 320px) {

    nav.navbar {
        padding: 18px auto;
    }

    nav ul {
        gap: 36px;
    }
}

/* Content-Judul */

div.grid-judul {
    margin: 12.5rem 12.5rem 11rem 12.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 61px;
}

div.grid-judul-kanan {
    padding: 39px 0px 0px 61px;
    gap: 10px;
}

div.grid-judul-kanan hr {
    width: 28.9rem;
    margin: 1.1rem 0 1.7rem 0;
    height: 1px;
    background: var(--quaternaryColor);
    color: var(--quaternaryColor);
}

div.grid-judul h2 {
    font-size: 3.2rem;
}

.paragraf-judul-lg {
    padding: 10px 0px;
    font-size: 1.4rem;
}

.paragraf-judul-sm {
    display: none;
}

@media only screen and (max-width: 1150px) {

    .grid-judul-kiri img {
        width: 300px;
    }

    div.grid-judul {
        display: flex;
        flex-direction: column;
        margin: 4rem 4rem 5rem 4rem;
        gap: 1rem;
    }

    div.grid-judul-kanan {
        padding: 0px;
    }

}

@media only screen and (max-width: 740px) {

    .grid-judul-kiri img {
        width: 300px;
    }

    div.grid-judul {
        display: flex;
        margin: 4rem 4rem 5rem 4rem;
        flex-direction: column;
        gap: 2rem;
    }

    div.grid-judul-kanan hr {
        width: 20rem;
        margin: 1rem 0 1rem 0;
    }

    div.grid-judul h2 {
        font-size: 2.4rem;
    }

    div.grid-judul p {
        font-size: 1.4rem;
    }

    div.grid-judul-kanan {
        padding: 0rem;
        gap: 10px;
    }

    .paragraf-judul-lg {
        display: none;
    }

    .paragraf-judul-sm {
        display: flex;
        padding: 10px 0px;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 480px) {

    .grid-judul-kiri {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}



/* content-kelebihan */

div.grid-kelebihan {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6rem 12.5rem 6rem 12.5rem;
    justify-content: center;
    background-color: var(--primaryAccsent);
    width: 100%;
}

div.grid-kelebihan-atas h2 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 400;
    color: var(--tertiaryColor);
}

div.grid-kelebihan-bawah {
    width: 100%;
    padding: 6.4rem 0rem 0 0;
}

div.card-kelebihan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    border-radius: 2.8rem;
    padding: 0rem 2.6rem;
    background-color: var(--whiteColor);
}

div.card-kelebihan h3 {
    font-size: 1.8rem;
    padding: 10px 0px;
    color: var(--blackColor);
}

div.card-kelebihan p {
    font-size: 1.2rem;
    text-align: center;
    color: var(--blackColor);
}

@media only screen and (max-width: 740px) {

    div.grid-kelebihan {
        padding: 6rem 4rem 6rem 6rem;
    }

    div.card-kelebihan {
        text-align: center;
        padding: 0rem 2.6rem;
    }
}

@media only screen and (max-width: 480px) {

    div.grid-kelebihan-atas h2 {
        font-size: 2rem;
        text-align: center;
    }

    div.grid-kelebihan {
        padding: 6rem 4rem 4rem 4rem;
    }

    div.card-kelebihan {
        text-align: center;
        width: 250px;
        height: 291px;
        padding: 0rem 2.6rem;
    }
}

@media only screen and (max-width: 320px) {

    div.grid-kelebihan-atas h2 {
        font-size: 1.6rem;
        text-align: center;
    }

    div.grid-kelebihan {
        padding: 6rem 4rem 4rem 4rem;
    }

    div.card-kelebihan {
        text-align: center;
        width: 225px;
        height: 262px;
        padding: 0rem 2rem;
    }

    div.card-kelebihan h3 {
        font-size: 1.6rem;
        padding: 10px 0px;
    }

    div.card-kelebihan p {
        font-size: 1rem;
    }
}

/* content-daftarmotor */

div.daftarmotor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0rem;
    align-items: center;
}

div.page-daftarmotor {
    padding: 14rem 0rem 6rem 0rem;
}

div.daftarmotor-atas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.daftarmotor-atas h2 {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 400;
}

div.daftarmotor-atas p {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    align-items: center;
    font-size: 1.4rem;
}

div.card-daftarmotor p.tahun-motor {
    font-size: 1.4rem;
    position: absolute;
    margin: auto -190px -150px auto;
}

div.daftarmotor-bawah {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3.7rem 17.2rem 3.7rem 17.2rem;
    gap: 6.4rem;
    row-gap: 4.4rem;
}

div.card-daftarmotor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    gap: 14px;
    background-color: var(--tertiaryColor);
    width: 300px;
    height: 360px;
    box-shadow: 3px 6px 10px rgba(129, 129, 129, 0.25);
}

div.image-motor {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--whiteColor);
    width: 300px;
    height: 200px;
    border-radius: 28px 28px 0px 56px;
    box-shadow: inset 0px -5px 10px -5px rgba(129, 129, 129, 0.25);
}

div.image-motor img {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}

div.desc-motor {
    width: 250px;
    max-width: 250px;
}

div.desc-motor h3 {
    font-size: 1.8rem;
    width: 250px;
}

div.desc-motor p {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    width: 250px;
}

div.buttonwhatsapp-sm {
    margin: 0rem 1.9rem 1rem auto;
}

div.buttonwhatsapp-x-sm {
    margin: 0rem 1.9rem 1rem auto;
    display: none;
}

div.button-daftarmotor a {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 0.4rem;
    margin-top: 2rem;
    text-decoration: underline !important;
}

@media only screen and (max-width: 1150px) {

    div.daftarmotor-bawah {
        gap: 4.4rem;
        padding: 3.7rem 8rem 3.7rem 8rem;
    }
}

@media only screen and (max-width: 900px) {

    div.daftarmotor-bawah {
        gap: 4.4rem;
        padding: 3.7rem 4rem 3.7rem 4rem;
    }
}

@media only screen and (max-width: 740px) {

    div.daftarmotor-bawah {
        gap: 4.4rem;
        padding: 3.7rem 2rem 3.7rem 2rem;
    }
}


@media only screen and (max-width: 480px) {

    div.daftarmotor-atas {
        gap: 1.6rem;
    }

    div.daftarmotor-atas h2 {
        text-align: center;
        font-size: 2rem;
    }

    div.daftarmotor-atas p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        font-size: 1.2rem;
    }

    div.daftarmotor-bawah {
        gap: 4.4rem;
        padding: 3.7rem 2rem 0rem 2rem;
    }

    div.button-daftarmotor a {
    font-size: 1.6rem;
    gap: 0.4rem;
    margin-top: 5rem;
}
}

@media only screen and (max-width: 320px) {

    div.daftarmotor-bawah {
        gap: 4.4rem;
        padding: 3.7rem 1rem 0rem 1rem;
    }

    div.card-daftarmotor {
        width: 200px;
        height: 240px;
    }

    div.image-motor {
        width: 200px;
        height: 133px;
    }

    div.image-motor img {
        width: 75px;
        height: auto;
        max-width: 100px;
        max-height: 100px;
    }

    div.desc-motor {
        width: 167px;
        max-width: 167px;
    }

    div.desc-motor h3 {
        font-size: 1.4rem;
        width: 167px;
    }

    div.desc-motor p {
        margin-top: 0.8rem;
        font-size: 1.2rem;
        width: 167px;
    }

    div.card-daftarmotor p.tahun-motor {
        font-size: 0.8rem;
        position: absolute;
        margin: auto -130px -75px auto;
    }

}

/* Content-ProsesPemesanan */

div.prosespemesanan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primaryAccsent);
    color: var(--tertiaryColor);
    align-items: center;
    text-align: center;
    gap: 6.4rem;
    padding: 6rem 0rem;
}

div.prosespemesanan h2 {
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
}

div.card-outer-prosespemesanan img {
    min-height: 14rem;
}

div.card-outer-prosespemesanan {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

div.card-pemesanan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: auto;
    border-radius: 2.8rem;
    padding: 1rem 2.6rem;
    background-color: var(--primaryAccsent);
    color: var(--tertiaryColor);
    border-style: none;
}

div.card-pemesanan h3 {
    font-size: 1.8rem;
    padding: 24px 0px 19px 0px;
}

div.card-pemesanan p {
    font-size: 1.2rem;
    text-align: center;
}

div.prosespemesanan a {
    text-decoration: none;
}

@media only screen and (max-width: 740px) {

    div.card-outer-prosespemesanan {
        gap: 4rem;
    }

    div.card-pemesanan {
        text-align: center;
        padding: 0rem 2.6rem;
    }

    div.prosespemesanan h2 {
        font-size: 2.2rem;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {

    div.card-outer-prosespemesanan {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    div.card-pemesanan {
        text-align: center;
        width: 250px;
        height: auto;
        padding: 0rem 2.6rem;
    }

    div.prosespemesanan h2 {
        font-size: 2rem;
        text-align: center;
    }

    div.card-pemesanan h3 {
        padding: 20px 0px 14px 0px;
    }
}

@media only screen and (max-width: 480px) {

    div.prosespemesanan h2 {
        font-size: 1.8rem;
        text-align: center;
    }

}

/* content-review */

div.review-lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
    padding: 6rem 0rem;
}

div.review-sm {
    display: none;
}

div.card-outer-review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.3rem;
}

div.card-outer-review img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

div.card-review {
    text-align: center;
    display: flex;
    padding: 2.4rem 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
    height: 40rem;
    border-radius: 1.4rem;
    border-style: none;
    background-color: var(--tertiaryColor);
}

div.card-review p {
    display: flex;
    align-items: center;
    width: auto;
    min-height: 11rem;
    font-size: 1.2rem;
}

div.card-stars {
    display: flex;
    flex-direction: row;
}

h3.button-reviewgooglemaps {
    color: var(--blackColor) !important;
}

h3.linkpemesanan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0rem;
}


@media only screen and (max-width: 740px) {

    div.review-lg {
        display: none;
    }

    div.review-sm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3.2rem;
        padding: 6rem 4rem 4rem 4rem;
    }

    div.review-bawah {
        width: 100%;
    }

    div.card-outer-review {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2.3rem;
    }

    div.card-review {
        width: 30rem;
        height: 34rem;
    }

}

@media only screen and (max-width: 480px) {

    div.review-lg {
        display: none;
    }

    div.review-sm h2 {
        font-size: 2rem;
        text-align: center;
    }

    div.review-sm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6rem 2rem 2rem 2rem;
        gap: 1rem;
    }

    div.review-bawah {
        width: 100%;
    }

    div.card-outer-review {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2.3rem;
    }

    div.card-review {
        width: 30rem;
        height: 34rem;
    }

}

@media only screen and (max-width: 480px) {

    div.review-sm h2 {
        font-size: 1.8rem;
        text-align: center;
    }

}

.swiper-review {
    --swiper-pagination-color: var(--quaternaryColor);
}

.swiper-kelebihan {
    --swiper-scrollbar-drag-bg-color: var(--tertiaryColor);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

/* maps */
.maps-outer {
    position: relative;
    width: 500px;
    height: auto;
}

.maps-inner {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

div.footer {
    background-color: var(--primaryAccsent);
    padding: 6rem 9.8rem 3rem 9.8rem;
    color: var(--tertiaryColor);
}

div.footer-container {
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    padding: 0 0 4.8rem 0;
}

div.footer-kanan {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

div.footer-kanan-judul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.footer-kanan-judul h2 {
    font-size: 2.4rem;
}

div.footer-kanan-judul p {
    font-size: 1.2rem;
}

div.footer-kanan-kontak {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.footer-kanan-kontak h3 {
    font-size: 2rem;
}

div.footer-kontak-logo {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

div.footer-kontak-logo a {
    color: var(--tertiaryColor);
}

ul.footer-quiclinks-ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

div.footer-kanan-quicklinks h3 {
    font-size: 2rem;
}

div.footer-kanan-quicklinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li.footer-quicklinks a {
    list-style: none;
    text-decoration: none;
    color: var(--tertiaryColor);
    font-size: 1.4rem;
}

hr.line-footer {
    border: 1px solid var(--tertiaryColor);
}

div.footer-bawah p {
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1150px) {

    .maps-outer {
        width: 400px;
    }

}

@media only screen and (max-width: 900px) {

    .maps-outer {
        width: 400px;
    }

    div.footer-container {
        flex-wrap: wrap-reverse;
        gap: 2rem;
        justify-content: center;
    }

    div.footer {
        padding: 5rem 6rem 3rem 6rem;
    }

}

@media only screen and (max-width: 740px) {

    div.footer-kiri {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .maps-outer {
        position: relative;
        width: 300px;
        height: auto;
    }

    div.footer {
        padding: 5rem 3rem 3rem 3rem;
    }

    div.footer-container {
        flex-wrap: wrap-reverse;
        gap: 2rem;
        justify-content: center;
    }
}


@media only screen and (max-width: 480px) {

    div.footer-kiri {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .maps-outer {
        position: relative;
        width: 300px;
        height: auto;
    }

    div.footer-container {
        flex-wrap: wrap-reverse;
        gap: 2rem;
        justify-content: center;
    }
}

@media only screen and (max-width: 320px) {

    .maps-outer {
        width: 250px;
    }

}


/* konfigurasi card */

.card-outer {
    height: 400px;
}

@media only screen and (max-width: 740px) {

    .card-outer {
        height: 375px;
    }

    .card-outer-kelebihan {
        height: 400px !important;
    }

    .card-outer-review {
        height: 475px;
    }


}

@media only screen and (max-width: 480px) {

    .card-outer {
        height: 350px;
    }

    .card-outer-pemesanan {
        height: auto;
    }

    .card-outer-review {
        height: 450px;
    }

    .card-outer-kelebihan {
        height: 325px !important;
    }

}

@media only screen and (max-width: 320px) {

    .card-outer-kelebihan {
        height: 300px !important;
    }

}

h3.button-link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-decoration: underline;
    color: var(--tertiaryColor);
}

/* button */

.button {
    display: flex;
    align-items: center;
    color: var(--blackColor);
}

.button-primary {
    background-color: var(--secondaryColor);
}

.button-size-x-sm {
    gap: 3px;
    padding: 6px 12px;
    border-radius: 28px;
    font-size: 0.8rem;
}

.button-size-sm {
    gap: 3px;
    padding: 8px 17px;
    border-radius: 28px;
    font-size: 1.2rem;
}

.button-size-md {
    gap: 3px;
    padding: 8.6px 18px;
    border-radius: 28px;
    font-size: 1.4rem;
}

.button-size-lg {
    gap: 3px;
    padding: 11px 27px;
    border-radius: 28px;
    font-size: 1.6rem;
}

@media only screen and (max-width: 320px) {
    div.buttonwhatsapp-sm {
        display: none;
    }

    div.buttonwhatsapp-x-sm {
        display: flex;
    }

}

div.outer-rulesrental {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 14rem 0rem 6rem 0rem;
}

div.outer-rulesrental h2 {
    font-size: 2.4rem;
    margin: 3rem 17rem 0rem 17rem;
    text-align: center;
}

div.bar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5.2rem;
    width: 80vw;
    height: 8.4rem;
    gap: 1rem;
    color: var(--tertiaryColor);
    background-color: var(--primaryAccsent);
    margin: 6rem 17rem 0rem 17rem;
    transition: all 0.4s ease;
}

h3.bar-title {
    font-size: 2rem;
    font-weight: 400;
}

div.bar-content {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiaryColor);
    padding: 3.2rem 8rem 3.2rem 8rem;
    width: 80vw;
    margin: 0rem 17rem 0rem 17rem;
}

div.bar-content p {
    font-size: 1.4rem;

}

div.bar-content {
    overflow: hidden;
    transition: all 0.4s ease;
    opacity: 1;
}

div.bar-content-hide {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    padding: 0rem 8rem 0rem 8rem;
    width: 80vw;
    margin: 0rem 17rem 0rem 17rem;
}

div.triangle-rulesrental-close {
    transition: all 0.4s ease;
    transform: rotate(-60deg);
}

div.triangle-rulesrental-open {
    transition: all 0.4s ease;
}

@media only screen and (max-width: 1350px) {
    div.outer-rulesrental {
        margin: 10rem 0rem 6rem 0rem;
    }

    div.bar-title {
        padding: 0rem 5.2rem;
        width: 80vw;
        height: 8.4rem;
        margin: 6rem 10rem 0rem 10rem;
    }

    div.bar-content {
        padding: 3.2rem 6rem 3.2rem 6rem;
        width: 80vw;
        margin: 0rem 10rem 0rem 10rem;
    }
}

@media only screen and (max-width: 740px) {

    div.outer-rulesrental h2 {
        margin: 3rem 6rem 0rem 6rem;
    }

    div.outer-rulesrental {
        margin: 10rem 0rem 6rem 0rem;
    }

    div.bar-title {
        padding: 0rem 5.2rem;
        width: 80vw;
        height: 8.4rem;
        margin: 6rem 6rem 0rem 6rem;
    }

    div.bar-content {
        padding: 3.2rem 6rem 3.2rem 6rem;
        width: 80vw;
        margin: 0rem 6rem 0rem 6rem;
    }
}

@media only screen and (max-width: 480px) {

div.outer-rulesrental h2 {
        margin: 3rem 5rem 0rem 5rem;
        font-size: 2rem;
    }

    h3.bar-title {
    font-size: 1.6rem;
    font-weight: 400;
}
}